<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>AboutUsServlet</servlet-name>
        <servlet-class>AboutUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDashboard</servlet-name>
        <servlet-class>UserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationBarServlet</servlet-name>
        <servlet-class>NavigationBarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userlogin</servlet-name>
        <servlet-class>Userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gallery</servlet-name>
        <servlet-class>Gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details</servlet-name>
        <servlet-class>details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adashboard</servlet-name>
        <servlet-class>Adashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageRoom</servlet-name>
        <servlet-class>manageRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBookings</servlet-name>
        <servlet-class>MyBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBooking</servlet-name>
        <servlet-class>UpdateBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookings</servlet-name>
        <servlet-class>DeleteBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewbookings</servlet-name>
        <servlet-class>Viewbookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomopt</servlet-name>
        <servlet-class>roomopt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookingLogs</servlet-name>
        <servlet-class>AdminBookingLogs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookingPaymentSummary</servlet-name>
        <servlet-class>AdminBookingPaymentSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTotalPayments</servlet-name>
        <servlet-class>ViewTotalPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>Insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUsServlet</servlet-name>
        <url-pattern>/AboutUsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDashboard</servlet-name>
        <url-pattern>/UserDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigationBarServlet</servlet-name>
        <url-pattern>/NavigationBarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userlogin</servlet-name>
        <url-pattern>/Userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gallery</servlet-name>
        <url-pattern>/Gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adashboard</servlet-name>
        <url-pattern>/Adashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageRoom</servlet-name>
        <url-pattern>/manageRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBookings</servlet-name>
        <url-pattern>/MyBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBooking</servlet-name>
        <url-pattern>/UpdateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookings</servlet-name>
        <url-pattern>/DeleteBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewbookings</servlet-name>
        <url-pattern>/Viewbookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomopt</servlet-name>
        <url-pattern>/roomopt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookingLogs</servlet-name>
        <url-pattern>/AdminBookingLogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookingPaymentSummary</servlet-name>
        <url-pattern>/AdminBookingPaymentSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTotalPayments</servlet-name>
        <url-pattern>/ViewTotalPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
    <welcome-file>Home</welcome-file>
</welcome-file-list>

</web-app>
